@{
    ViewBag.Title = "About";
}
<link rel="stylesheet" href="~/Estilos/StyleSheet8.css" />


<script src="~/Estilos/JavaScript.js" defer></script>
    


    <div class="todo">
        <div class="info">
            <h2>PARKING- DATABASE es un software con una base de datos la cual almacena y registra los vehículos que entran y salen de la Universidad de Cundinamarca - Facatativá. cuenta con un logueo para el personal de seguridad, administrativos, estudiantes,docentes.</h2>
        </div>
        
    </div>



