@{
    ViewBag.Title = "Contact";
}

<link rel="stylesheet" href="~/Estilos/StyleSheet9.css" />
<div class="containe">
    <div class="todo">
        <div class="info">
            <h3>Ferney Alexis</h3>
            <h2>Rodríguez Alarcón</h2>
            <h5>falexisrodriguez@ucundinamarca.edu.co</h5>
            <h4>312-319-71-81</h4>
            <h4>Ing. Sistemas y Computación</h4>
        </div>
    </div>

    <div class="dos">
        <div class="doso">
            <h3>Diego</h3>
            <h2>Garay Fonseca</h2>
            <h5>dgarayf@ucundinamarca.edu.co</h5>
            <h4>311-491-01-38</h4>
            <h4>Ing. Sistemas y Computación</h4>
        </div>
    </div>

    <div class="tres">
        <div class="trese">
            <h3>Maria Alejandra</h3>
            <h2>Navarrete Ardila</h2>
            <h5>nombre@ucundinamarca.edu.co</h5>
            <h4>Telefono</h4>
            <h4>Ing. Sistemas y Computación</h4>
        </div>
    </div>
</div>

