@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Estilos/StyleSheet3.css" />

<script src="~/Estilos/JavaScript.js" defer></script>
<div>
    <section class="hol"></section>
</div>



