

.todo {
    padding: 0;
    margin: 0;
    text-align: center;
    background: url(Dos.jpg) no-repeat;
    background-size: cover;
    min-height: 90vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.info {
    position: relative;
    width: 400px;
    height: 500px;
    gap: 30px;
    color: #000000;
    align-items: center;
    justify-content: center;
    background-color: #a0a0a0;
    right: -430px;
    top: 30px;
    border-radius: 20px;
}

div {
    line-height: 30px;
}
